<h1 class="page-header">SMEP Painel</h1>

<div class="row">
    <h2 class="sub-header">Informações</h2>
    <div class="col-md-6">
        <ul class="nav nav-tabs">
            <li><a href="#" data-target="#day" data-toggle="tab">Diário</a></li>
            <li class="active"><a href="#" data-target="#month" data-toggle="tab">Mensal</a></li>
            <li><a href="#" data-target="#year" data-toggle="tab">Mensal</a></li>

        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="day">
                <h3>Diário - {{date | date:'dd/MM/yyyy' }}</h3>
            </div>

            <div class="tab-pane active" id="month">
                <h3>Mensal - {{date | date:'MMM/yyyy' }}</h3>
            </div>

            <div class="tab-pane" id="year">
                <h3>Anual - {{date | date:'yyyy' }}</h3>
            </div>
        </div>

    </div>


    <div class="col-md-6" ng-controller="ChartLastMinutesCtrl">
        <h3>Consumo Últimos 5 minutos [kW]</h3>
        <canvas class="chart chart-line"
                chart-data="data"
                chart_labels="labels"
                chart-series="series"
                chart-options="options"
        ></canvas>

    </div>
</div>
<div class="row">
    <h2 class="sub-header">Última amostra</h2>
    <p>Consumo Instantâneo: {{ lastPower | number : 4 }} kW</p>
    <p>Consumo kWh: {{ lastkWh | number : 4 }} kWh</p>
    <p>Data: {{ lastDate | date:'hh:mm:ss d/m/y' }}</p>

</div>

<div class="row">
    <h2 class="sub-header">Dispositivos Conectados</h2>


    <div class="row" >
        <div class="col-sm-6 col-md-3" ng-repeat="tomada in tomadas">
            <div class="tomada panel panel-info">
                <div class="panel-heading">{{ tomada.nome }} <sub class="pull-right">{{ tomada.mac }}</sub></div>
                <div class="panel-body">
                    <p><strong>Consumido no dia:</strong> {{ tomada.stats.dia | number : 2}} kWh</p>
                    <p><strong>Consumido no mês:</strong> {{ tomada.stats.mes | number : 2 }} kWh</p>
                    <p><strong>Consumido no ano:</strong>  {{ tomada.stats.ano | number : 2}} kWh</p>
                    <div angular-odometer style="font-size: 22px;" my-current-valor-single="{{tomada.mac}}">1000,001</div>
                </div>
                <div class="panel-footer">
                    Pronto
                </div>
            </div>

        </div>


    </div>


</div>
